@page
@model IndexModel
@{
    ViewData["Title"] = "Index";
}

<main class="posts-listing col-lg-12">
    <div class="container">
        <div class="row">

              <div class="post col-xl-6">
                    <div class="post-thumbnail">
                        <a>
                            <img class="img-fluid">
                        </a>
                    </div>
                    <div class="post-details">
                        <div class="post-meta d-flex justify-content-between">
                            <div class="date meta-last">hello</div>
                            <div class="category">
                                <a></a>
                            </div>
                        </div>
                        <a>
                            <h3 class="h4">hello</h3>
                        </a>
                        <p class="text-muted">
                            
                        </p>
                        <footer class="post-footer d-flex align-items-center">
                            <div class="comments meta-last"><i class="icon-comment"></i>hello</div>
                        </footer>
                    </div>
                </div>
        </div>
    </div>
</main>